@import '/src/vars.scss';

body {
    background: #12111C;
}

#root {
    width: 100%;
    overflow: hidden;
}

.page {

    background: url('/img/stars.png');
    // background: #fff3;
    width: 100%;
    padding: 12px;
    padding-bottom: 100px;
    min-height: 100dvh;
}

.linear-gradient {
    background: linear-gradient(135deg, #30BBEE, #C659FC);
}

.dnone {
    display: none !important;
}

.Toastify__toast-theme--dark {
    background: #1A1C29 !important;
    --toastify-icon-color-info: white;
    --toastify-icon-color-success: white;
}

.Toastify__close-button {
    opacity: 0 !important;
}

.Toastify__progress-bar--success {
    background: linear-gradient(135deg, #30BBEE, #C659FC) !important;
}

.Toastify__progress-bar--info {
    background: linear-gradient(135deg, #30BBEE, #C659FC) !important;
}